<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iyad.sultan.kooraalyawm">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDteuQfa1UDUyOhqPXS9GZTk3Rf0Ze5yug"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">

        </activity>
        <activity android:name=".Sign.SignIn" />
        <activity android:name=".Sign.SignUp" />
        <activity android:name=".Groups.AddGroupActivity"></activity>
        <activity android:name=".Game.AddGame"/>
        <activity android:name=".Groups.GroupDetailsActivity"/>
        <activity android:name=".Game.GameDetailsActivity"/>
        <activity android:name=".Groups.JoinGroupActivity"/>

    </application>

</manifest>